<!DOCTYPE html>
<html>
<head>
    <title>Agendar Evento</title>
</head>
<body>
    <h1>Agendar evento:</h1>
    <form method="POST" action=/confirmacion>
        <p>Nombre del cliente: </p>
        <input type="text" name = "cliente">
        <p>Teléfono: </p>
        <input type="text" name="telefono">
        <p># de órdenes: </p>
        <input type="text" name="ordenes">
        <p>Fecha: </p>
        <input type="text" name="fecha">
        <p>Hora: </p>
        <input type="text" name="hora">
        <p>Ubicación: </p>
        <input type="text" name="ubicacion">
        <button type="submit">Enviar</button>

    
    </form>
</body>
</html>