<!DOCTYPE html>
<html>
    <head>
        <title>Registrar evento</title>
    </head>

    <body>
        <h1>Registrar evento</h1>
            <form method = "POST">
                <p> Cliente: </p>
                <input type="text" name="cliente">
                <p> Telefono: </p>
                <input type="text" name="telefono">
                <p> Ordenes: </p>
                <label>
                    <input type="radio" name="ordenes" value="60">
                    60
                </label>
                <label>
                    <input type="radio" name="ordenes" value="80">
                    100
                </label>
                <label>
                    <input type="radio" name="ordenes" value="100">
                    100
                </label>
                <label>
                    <input type="radio" name="ordenes" value="150">
                    150
                </label>
                <label>
                    <input type="radio" name="ordenes" value="180">
                    180
                </label>
                <label>
                    <input type="radio" name="ordenes" value="200">
                    200
                </label>
                <label>
                    <t>Otra cantidad: </t>
                    <input type="text" name="ordenes_otras">
                </label>
                
                <br><br>

                <button type = "submit">Agregar evento</button>

            </form>
        {% if errores %}
            <div class="notificacion-error">
                <h3> ⚠ Errores </h3>
                    <ul>
                        {% for error in errores %}
                            <li>{{error}}</li>
                        {% endfor %}
                    </ul>
            </div>
        {% endif %}
        <hr>
        {% for evento in eventos %}
            <h2>{{ evento.cliente }}</h2>
            <p>Telefono: {{ evento.telefono }}</p>
            <p>Ordenes: {{ evento.ordenes }}</p>
        {% endfor %}
    </body>
</html>